---
import type { CollectionEntry } from 'astro:content';
//STYLES
import './project-preview.scss';
//COMPONENTS
import Tags from '../../shared/tags/tags.astro';
import DateTime from '../../shared/date-time/date-time.astro';
//VARIABLES
import { BASE_URL, ROUTING } from '../../../variables/routing';
//UTILS
import { truncateOverviewToPreview } from '../../../utils/utils';

interface Props {
	project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
---

<article class="project-preview project-preview--horizontal">
	<h3 class="project-preview__title title-m">{project.data.title}</h3>

	<DateTime date={project.data.date} format="year" additionalStyleClass="project-preview__date" />

	<Tags tags={project.data.tags} additionalStyleClass="project-preview__tags" />

	<p class="project-preview__description paragraph-s">
		{truncateOverviewToPreview(project.data.overview)}
	</p>

	<img
		class="project-preview__image"
		src={`${BASE_URL}${project.data.previewImage}`}
		alt=""
		width="246"
		height="180"
	/>

	<a class="project-preview__link" href={`${ROUTING.PROJECT.path}/${project.slug}`}>
		<span class="visually-hidden">open full project description</span>
	</a>
</article>
