---
import type { CollectionEntry } from 'astro:content';
//STYLES
import './project-preview.scss';
//COMPONENTS
import Tags from '../shared/tags/tags.astro';
import DateTime from '../shared/date-time/date-time.astro';
//VARIABLES
import { BASE_URL } from '../../variables/routing';

interface Props {
	project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
---

<header class="project-preview project-preview--vertical">
	<h1 class="project-preview__title title-l">{project.data.title}</h1>

	<DateTime date={project.data.date} format="year" additionalStyleClass="project-preview__date" />

	<Tags tags={project.data.tags} additionalStyleClass="project-preview__tags" />

	<p class="project-preview__description paragraph-m">
		{project.data.overview}
	</p>

	<img
		class="project-preview__image"
		src={`${BASE_URL}${project.data.previewImage}`}
		alt=""
		width="246"
		height="180"
		loading="lazy"
	/>
</header>
