---
import type { CollectionEntry } from 'astro:content';
//STYLES
import './project-preview.scss';
//COMPONENTS
import ProjectTags from './project-tags/project-tags.astro';

interface Props {
	project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;

const projectDate = new Date(project.data.date);
const d = new Date(projectDate);

const options: Intl.DateTimeFormatOptions = {
	year: 'numeric',
};

const formattedDate = new Intl.DateTimeFormat('en-GB', options).format(d);
---

<header class="project-preview project-preview--vertical">
	<h1 class="project-preview__title project-title">{project.data.title}</h1>

	<time class="project-preview__date project-date" datetime={d.toISOString()}>{formattedDate}</time>

	<ProjectTags tags={project.data.tags} />

	<p class="project-preview__description project-paragraph">
		{project.data.overview}
	</p>

	<img
		class="project-preview__image"
		src="https://previews.123rf.com/images/epicfail/epicfail1702/epicfail170200239/72740134-thin-line-design-concept-for-project-website-banner.jpg"
		alt=""
		width="246"
		height="180"
	/>
</header>
