---
//VARIABLES
import { BASE_URL } from '../../../variables/routing';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description, image = `${BASE_URL}/images/banner-avatar.jpg` } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<link rel="canonical" href={canonicalURL} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<link rel="icon" href=`${BASE_URL}/favicon.svg` />
<!-- <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="images/favicons/32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="images/favicons/16x16.png" />
<link rel="manifest" href="/manifest.webmanifest" /> -->

<meta name="color-scheme" content="light dark" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#273a43" />
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#c7cbcc" />
<!--dark and light theme styles-->
<!-- <link rel="stylesheet" href=`${BASE_URL}/dark.css` media="(prefers-color-scheme: dark)" /> -->
<!-- <link rel="stylesheet" href=`${BASE_URL}/light.css` media="(prefers-color-scheme: light)" /> -->

<script is:inline>
	const darkSchemeMedia = matchMedia('(prefers-color-scheme: dark)');

	function setScheme(scheme) {
		switchMedia(scheme);

		if (scheme === 'auto') {
			clearScheme();
		} else {
			saveScheme(scheme);
		}
	}

	function switchMedia(scheme) {
		if (scheme === 'auto') {
			document.querySelector('html').setAttribute('data-theme', getSystemScheme());
		} else {
			document.querySelector('html').setAttribute('data-theme', scheme);
		}
	}

	function setupScheme() {
		const savedScheme = getSavedScheme();

		if (savedScheme === null) {
			setScheme('auto');
		} else {
			setScheme(savedScheme);
		}
	}

	function getSystemScheme() {
		const darkScheme = darkSchemeMedia.matches;

		return darkScheme ? 'dark' : 'light';
	}

	function getSavedScheme() {
		return localStorage.getItem('color-scheme');
	}

	function saveScheme(scheme) {
		localStorage.setItem('color-scheme', scheme);
	}

	function clearScheme() {
		localStorage.removeItem('color-scheme');
	}

	setupScheme();
</script>
