---
import type { CollectionEntry } from 'astro:content';
//STYLES
import './article-page-preview.scss';
//COMPONENTS
import DateTime from '../date-time/date-time.astro';
import Tags from '../tags/tags.astro';
//VARIABLES
import { BASE_URL } from '../../variables/routing';

interface Props {
	article: CollectionEntry<'articles'>;
}

const { article } = Astro.props;
---

<header class="article-page-preview">
	<h1 class="article-page-preview__title title-xl">
		{article.data.title}
	</h1>

	<DateTime
		date={article.data.date}
		format="full"
		additionalStyleClass="article-page-preview__date"
	/>

	<Tags tags={article.data.tags} additionalStyleClass="article-page-preview__tags" />

	<p class="article-page-preview__overview paragraph-m">
		{article.data.overview}
	</p>

	<img
		class="article-page-preview__image"
		width="600"
		height="400"
		src={`${BASE_URL}${article.data.previewImage}`}
		alt={article.data.previewImageAlt}
	/>
</header>
