---
import type { CollectionEntry } from 'astro:content';
//STYLES
import './article-preview.scss';
//COMPONENTS
import ArticleTags from './article-tags/article-tags.astro';
import DateTime from '../date-time/date-time.astro';
//VARIABLES
import { BASE_URL } from '../../variables/routing';

interface Props {
	article: CollectionEntry<'articles'>;
}

const { article } = Astro.props;
---

<header class="article-preview article-preview--image">
	<h1 class="article-preview__title title-xl">
		{article.data.title}
	</h1>

	<DateTime date={article.data.date} format="full" additionalStyleClass="article-preview__date" />

	<ArticleTags tags={article.data.tags} />

	<p class="article-preview__overview paragraph-m">
		{article.data.overview}
	</p>

	<img
		class="article-preview__image"
		width="600"
		height="400"
		src={`${BASE_URL}${article.data.previewImage}`}
		alt={article.data.previewImageAlt}
	/>
</header>
