---
import type { CollectionEntry } from 'astro:content';
//STYLES
import './article-preview.scss';
//VARIABLES
import { ROUTING } from '../../variables/routing';
//COMPONENTS
import Tags from '../tags/tags.astro';
import DateTime from '../date-time/date-time.astro';

interface Props {
	article: CollectionEntry<'articles'>;
	withLink?: boolean;
}

const { article, withLink = false } = Astro.props;
---

<article class="article-preview">
	<h3 class="article-preview__title title-l">{article.data.title}</h3>

	<DateTime date={article.data.date} format="full" additionalStyleClass="article-preview__date" />

	<Tags tags={article.data.tags} additionalStyleClass="article-preview__tags" />

	<p class="article-preview__overview paragraph-l">
		{article.data.overview}
	</p>

	{
		withLink && (
			<a class="article-preview__link" href={`${ROUTING.ARTICLE.path}/${article.slug}`}>
				<span class="visually-hidden">open full post</span>
			</a>
		)
	}
</article>
