---
import type { CollectionEntry } from 'astro:content';
//STYLES
import './article-preview.scss';
//COMPONENTS
import ArticleTags from './article-tag/article-tags.astro';

interface Props {
	article: CollectionEntry<'articles'>;
}

const { article } = Astro.props;

const articleDate = new Date(article.data.date);
const d = new Date(articleDate);

const options: Intl.DateTimeFormatOptions = {
	year: 'numeric',
	month: 'short',
	day: '2-digit',
	hour: '2-digit',
	minute: '2-digit',
	timeZone: 'CET',
	hour12: false,
};

const formattedDate = new Intl.DateTimeFormat('en-GB', options).format(d);
---

<section class="article-preview article-preview--image">
	<h1 class="article-preview__title article-xl-title">
		{article.data.title}
	</h1>
	<time class="article-preview__date article-date" datetime={d.toISOString()}>
		{formattedDate}
	</time>

	<ArticleTags tags={article.data.tags} />

	<p class="article-preview__overview article-m-paragraph">
		{article.data.overview}
	</p>

	<img
		class="article-preview__image"
		width="600"
		height="400"
		src={article.data.previewImage}
		alt={article.data.previewImageAlt}
	/>
</section>
